// It is highly recommended to change the default colors
// to match your apps branding.

$primary: #33ff66;
$secondary: #0f2d18;
$accent: #a3ffc8;

$dark: #030803;

$positive: #4dff89;
$negative: #ff5f64;
$info: #37fbd1;
$warning: #f5ff80;
