// It is highly recommended to change the default colors
// to match your apps branding.

$primary: #32ff74;
$secondary: #1a401f;
$accent: #9dff5b;

$dark: #010401;

$positive: #64ff7b;
$negative: #ff4f5a;
$info: #4afcdf;
$warning: #e2ff4a;
